*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
}

main {
    /* how did he center it */
    margin: 1.7rem auto;
    width: 22rem;
    /* height: 40rem; */
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    overflow: hidden;
}

.desktop-image {
    display: none;
}

main img {
    height: 16rem;
    /* height measure? */
    width: 100%;
    object-fit: cover;
}

h1 {
    font-family: 'Fraunces', serif;
    color: rgb(32, 32, 32);
}

h2{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

#info-container {
    width: 100%;
}

.perf-info {
    padding: 0.6rem;
}

.perf-info P, h2 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: grey;
}

#price {
    font-family: 'Fraunces', serif;
    font-size: 30px;
    margin: 1rem 0.6rem;
    color: hsl(158, 36%, 37%);
}

#old-price {
    margin-left: 0.8rem;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 0px;
    border-radius: 8px;
    width: 90%;
    color: white;
    font-size: 1rem;
    background-color: hsl(158, 36%, 37%);
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: hsl(158, 36%, 25%);
}

#old-price{
    font-size: 0.8rem;
    color: grey;
}

@media (min-width: 56rem) {
    main {
        display: flex;
        width: 35rem;
        height: 25rem;
        margin: 8rem auto;
    }

    main img {
        width: 50%;
        height: 100%;
    }

    .desktop-image {
        display: flex;
    }

    .mobile-image {
        display: none;
    }

    #info-container {
        margin: 0.7rem;
    }

    #info-container h1 {
        font-size: 1.8rem;
        line-height: 1.1;
    }

    .perf-info p , h2{
        font-weight: 300;
    }

    .perf-info {
        padding: 0.5rem;
    }
}